html {
    background:darkgrey;
}

body {
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin: 40px;
   color:crimson;
   border-top: 10px solid cornflowerblue ;
   background-color: darkgrey;
}
h1 {
    font-size: 4em;
    color: darkorchid;
}
h2 {
    font-size: 4em;
    color: darkslategray;
}
h4 {
    font-size: 2em;
    color: darkslategray;
    margin: 0;
}

p {
line-height: 1.4em;
width: 200px;
margin: 20px;
padding: 20px;

}

#blog {
    border-top: 2px dotted chocolate;

}

.blog-post {
    border-bottom: 2px dotted chocolate;

}

nav {
    color: lavenderblush;
    position: sticky;
    top: 0px;
}

time {
    color: lightskyblue;
}

section {
    display:flex;
    padding:30px;
    margin:10px;
   
}

article {
    padding: 30px;
    margin: 20px;
}

@media all and (width: 400px) {
    body {
        color: red;
    }
}